.RightSideOfScreen {
	position: absolute;
	right: 10px;
	top: 61px;
	margin-bottom: 10px;
	height: 100%;
	width: 350px;
	text-align: center;
	font-weight: bold;
	border: solid;
	border-color: black;
	border-width: 1px;
}

.hrBlack {
	border: 0.5px solid black;
}

.checkbox-style {

}