@model CallInSickViewModel;

<h1 class="Headers">Sick Report</h1>

@if (Model.isSick == true)
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
<<<<<<< HEAD
		<input type="submit" value="I am no longer sick"/>
=======
		<input type="submit" value="I am restored of sickness" />
>>>>>>> 43b0f14b24f2fc8d7c3bb709c0f8e45df63cb7c3
	</form>
}
else
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
		<input type="submit" value="Report Sick" />
	</form>
}

@if (Model.SickReportsUser != null)
{
	if (Model.hasOverviewRight == true)
	{
		//do dome shizzle
	}
	else
	{
		<table class="ContactTable">
			<tr>
				<th class="tableheader">Date Sick</th>
				<th class="tableheader">Date Restored</th>
			</tr>
			@foreach (SickReport report in Model.SickReportsUser)
			{
				<tr>
					<td class="tableitem">@report.DatetimeStart.Value.ToShortDateString()</td>
					<td class="tableitem">@report.DatetimeEnd.Value.ToShortDateString()</td>
				</tr>
			}
		</table>
	}
}
