@model bool;

<h1 class="Headers">Sick Report</h1>

@if (Model == true)
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
		<input type="submit" value="I am restored of sickness"/>
	</form>
}
else
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
		<input type="submit" value="Report Sick"/>
	</form>
}

@if (true)
{

}