<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/ContactList.css" />
    <meta name="viewport" content="width=device-width" />
    <title>ContactList</title>
</head>
<body>
    <h1>Contact List</h1>
    
    <ul class="ContactList">
        <li>hoi</li>
        <li>doei</li>
    </ul>

</body>
</html>
