@model App.ViewModels.UserViewModel

<h2>Create new user</h2>
@using (Html.BeginForm("Create", "User"))
{

    <input asp-for="Email" name="email" />
    <input asp-for="Password" type="password" name="password" />
    <input asp-for="Firstname" name="firstname" />
    <input asp-for="Infix" name="infix" />
    <input asp-for="Lastname" name="lastname" />
    <input asp-for="Telnr" name="telnr" />


    <input type="submit" value="Create Account" />
    
    <span class="col-sm-12">@Html.ValidationMessageFor(m => m.Email)</span>
    <span class="col-sm-12">@Html.ValidationMessageFor(m => m.Password)</span>
}
