@model App.ViewModels.UserViewModel

<h2>Create new user</h2>
<form method="post" action="User/Create" name="CreateUser">
    Email: <input type="text" name="email" />
    <br />
    Password: <input type="password" name="password" />
    <br />
    First name: <input type="text" name="firstname" />
    <br />
    Infix: <input type="text" name="infix" />
    <br />
    Last name: <input type="text" name="lastname" />
    <br />
    Telephone Number: <input type="number" name="telnr" />
    <br />
    Role: <input type="text" name="role" />
    <br />
    <input type="submit" value="Create User" name="submit" />
</form>