@model UserViewModel

<h2>Create new user</h2>
<div class="row">
	<form asp-action="Create" asp-controller="User">

		<span class="col-xs-12"><input asp-for="Email" name="email" /></span>
		<span class="col-xs-12"><input asp-for="Password" type="password" name="password" /></span>
		<span class="col-xs-12"><input asp-for="Firstname" name="firstname" /></span>
		<span class="col-xs-12"><input asp-for="Infix" name="infix" /></span>
		<span class="col-xs-12"><input asp-for="Lastname" name="lastname" /></span>
		<span class="col-xs-12"><input asp-for="Telnr" name="telnr" /></span>

		<span class="col-xs-12 add-margin-top"><input type="submit" value="Create Account" /></span>
		<span class="col-xs-12">@Html.ValidationMessageFor(m => m.Email)</span>
		<span class="col-xs-12">@Html.ValidationMessageFor(m => m.Password)</span>

	</form>
</div>