@model UserViewModel
<div class="row">
    <h2 class="Headers col-xs-12 ">Create new user</h2>
        <div class="Flex-ContainerCreate col-xs-2 col-xs-offset-5">
            <form asp-action="Create" asp-controller="User">
                <p class="center">Emailadress: </p><input asp-for="Email" name="email" />
                <p class="center">Password: </p><input asp-for="Password" type="password" name="password" />
                <p class="center">First Name:</p><input asp-for="Firstname" name="firstname" />
                <p class="center">Infix:</p><input asp-for="Infix" name="infix" />
                <p class="center">Last Name:</p><input asp-for="Lastname" name="lastname" />
                <p class="center">Telephone Number:</p><input asp-for="Telnr" name="telnr" />
                <!--<input asp-for="RoleID" name="roleID" />-->
                <br />
                <input class="inputcreate" type="submit" value="Create Account" />
                <span class="col-sm-12">@Html.ValidationMessageFor(m => m.Email)</span>
                <span class="col-sm-12">@Html.ValidationMessageFor(m => m.Password)</span>
            </form>
        </div>
</div>
