@model LoginViewModel

@using (Html.BeginForm("Login", "User"))
{
	<input asp-for="Email" name="email" />
	<span class="col-sm-12">@Html.ValidationMessageFor(m => m.Email)</span>
	<input asp-for="Password" name="password" type="password" />
	<span class="col-sm-12">@Html.ValidationMessageFor(m => m.Password)</span>
	<input type="submit" />
}