<h2>Reserve a room</h2>
<ul>
    @foreach (Room room in Model)
    {
    <li><button asp-controller="Reservation" asp-action="LoadReservations" value="@room.Id">@room.RoomName</button></li>
    }
</ul>