@model List<App.Room>
<h2 class="ReserveHeader">Reserve a room</h2>
    @foreach (Room room in Model)
    {
        <button class="Link" asp-controller="Reservation" asp-action="LoadReservations" asp-route-roomId="@room.Id">@room.RoomName</button>
    }
