<h2>Reserve a room</h2>
<ul>
    @foreach (Room room in Model)
    {
        <li>@room.RoomName</li>
    }
</ul>

<br />
<ul>
    @foreach (Reservation reservation in Model)
    {
        <li></li>
    }
</ul>