@model List<App.Reservation>
@{
    ViewData["Title"] = "ReserveRoom";
}

<h2>Reserve room:</h2> 
<h4>Current Reservations: </h4>
<ul>
    @foreach (Reservation reservation in Model)
    {
        <li>@reservation.ReservationName | @reservation.ReservationStart | @reservation.ReservationEnd | By @reservation.User.FullName</li>
    }
</ul>
<br />
<br />
<form asp-controller="Reservation" asp-action="AddReservation">
    <input asp-for="" />
    <input type="submit" />
</form>
