@model List<App.Room>
<h2 class="Headers">Reserve a room</h2>
<div class="flex-containerReserve content">
    <ul class="RoomList">
        @foreach (Room room in Model)
        {
            <li class="RoomItems"><a class="Link" asp-controller="Reservation" asp-action="LoadReservations" asp-route-roomId="@room.Id"><div class="overlay">@room.RoomName</div></a></li>
        }
    </ul>
</div>